swagger: '2.0'
info:
 title: Mercury Public API (Sandbox)
 description: Public API for Mercury (Sandbox)
 version: "1.2.3"
 contact:
  name: Connective
  url: http://www.connective.com.au
  email: helpdesk@connective.com.au
# the domain of the service
host: apis.connective.com.au
schemes:
  - https
# will be prefixed to all paths
basePath: /mercury/v1
consumes:
  - application/json
produces:
  - application/json
paths:
  /{token}/opportunities:
    get:
      summary: Search for opportunities
      description: |
       Search for opportunities based on various criteria. If no optional query params are passed, it will return the 25 most recently created records in descending order
      operationId: Opportunity-search
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: search
          in: query
          required: true
          description: |
                     Marker param to let the system know a search is being requested. The param name can be passed by itself.
                     eg. both /opportunities?search and /opportunities?search=true will have the same effect
          type: string
          default: true
          x-ms-visibility: internal
        - name: searchParams
          in: query
          required: false
          description: URL encoded search params JSON object
          # Refer #/definitions/OpportunitySearchParams for allowed values
          type: string
          x-ms-visibility: advanced
        - name: sortKey
          in: query
          required: false
          x-ms-summary: Sort key
          description: |
                      The field to sort the results by. Allowed values are creationDate, lastModifiedDate. If not passed, will default to creationDate
          type: string
        - name: sortOrder
          in: query
          required: false
          x-ms-summary: Sort order
          description: Whether to sort ascending or descencding. Allowed values are asc and desc. Default is desc
          type: string
          x-ms-visibility: advanced
        - name: count
          in: query
          type: number
          description: Count of records to return. Default is 25. Max is 100
          required: false
          x-ms-summary: Count
          x-ms-visibility: advanced
        - name: offset
          in: query
          type: number
          description: Number of records to skip from the beginning. Default is 0
          required: false
          x-ms-summary: Offset
          x-ms-visibility: advanced
      tags:
        - Search for opportunities
      responses:
        200:
          description: Search Results object
          schema:
            $ref: '#/definitions/OpportunitySearchResult'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new opportunity
      description: |
       Creates a new opportunity and returns its uniqueId and emailId if the request is successful.
       If a uniqueId is provided in the request body, it will be ignored
      operationId: Opportunity-create
      x-ms-visibility: important
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          description: API key for the broker group
          x-ms-summary: API key
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Opportunity'
      tags:
        - Create a new opportunity
      responses:
        200:
          description: Success response
          schema:
            $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/opportunities/{id}:
    get:
      summary: Fetch an opportunity by id
      description: |
        Returns information about the opportunity
      operationId: Opportunity-get
      x-ms-visibility: important
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          description: API key for the broker group
          x-ms-summary: API key
          type: string
        - name: id
          in: path
          description: Unique id of the opportunity to get
          x-ms-summary: Unique id of the opportunity to get
          required: true
          type: string
      tags:
        - Fetch an opportunity by id
      responses:
        200:
          description: The opportunities resource
          schema:
            $ref: '#/definitions/Opportunity'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update an opportunity
      description: |
        Update the parent opportunity entity
      operationId: Opportunity-update
      x-ms-visibility: important
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          type: string
          description: API key for the broker group
          x-ms-summary: API key
        - name: id
          in: path
          description: Unique id of the opportunity to update
          x-ms-summary: Unique id of the opportunity to update
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Opportunity'
      tags:
        - Update an opportunity
      responses:
        200:
          description: The success response
          schema:
            $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/opportunities/hooks:
    x-ms-notification-content:
      description: Details for Webhook
      schema:
        $ref: '#/definitions/Opportunity'
    post:
      description: Register a webhook for listening to opportunity events
      summary: When an opportunity is created updated or deleted
      operationId: Opportunity-trigger
      x-ms-trigger: single
      x-ms-visibility: important
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: body
          in: body
          required: true
          description: Request body of webhook
          schema:
            $ref: '#/definitions/OppHookRequestBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebhookCreationResponse'
        201:
          description: Created
          schema:
            $ref: '#/definitions/WebhookCreationResponse'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
      tags:
       - Register a webhook for listening to opportunity events
  /{token}/opportunities/hooks/{hookId}:
    delete:
      description: Delete an opportunity webhook
      summary: Deletes an opportunity webhook
      operationId: Delete-opportunity-trigger
      x-ms-visibility: internal
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: hookId
          in: path
          description: ID of the Hook being deleted
          x-ms-summary: ID of the Hook being deleted
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Success'
        201:
          description: The success response
          schema:
            $ref: '#/definitions/WebhookCreationResponse'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
      tags:
       - Delete an opportunity webhook
  /{token}/opportunities/{id}/assets:
    get:
      summary: Fetch assets linked to an opportunity
      description: |
        Returns all assests linked to the opportunity
      operationId: Opportunity-assets-get
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: id
          in: path
          description: Unique id of the opportunity
          x-ms-summary: Unique id of the opportunity
          required: true
          type: string
      tags:
        - Fetch assets linked to an opportunity
      responses:
        200:
          description: Array of assets linked to the opportunity or opportunity
          schema:
            type: array
            items:
             $ref: '#/definitions/Asset'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new asset against an opportunity
      description: |
        Create an asset against the opportunity. Returns the uniqueId of the asset created
      operationId: Opportunity-asset-create
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          description: API key for the broker group
          x-ms-summary: API key
          type: string
        - name: id
          in: path
          description: Unique id of the opportunity
          x-ms-summary: Unique id of the opportunity
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Asset'
      tags:
        - Create a new asset against an opportunity
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/opportunities/{id}/assets/{assetId}:
    put:
      summary: Update an asset linked to an opportunity
      description: |
        Updates an asset against the opportunity
      operationId: Opportunity-asset-update
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          type: string
          description: API key for the broker group
          x-ms-summary: API key
        - name: id
          in: path
          description: Unique id of the opportunity
          x-ms-summary: Unique id of the opportunity
          required: true
          type: string
        - name: assetId
          in: path
          description: Unique id of the asset
          x-ms-summary: Unique id of the asset
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Asset'
      tags:
        - Update an asset linked to an opportunity
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/opportunities/{id}/liabilities:
    get:
      summary: Fetch liabilities linked to an opportunity
      description: |
        Returns all liabilities linked to the opportunity
      operationId: Opportunity-liabilities-get
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          type: string
          description: API key for the broker group
          x-ms-summary: API key
        - name: id
          in: path
          description: Unique id of the opportunity
          x-ms-summary: Unique id of the opportunity
          required: true
          type: string
      tags:
        - Get liabilities linked to an opportunity
      responses:
        200:
          description: Array of liabilities linked to the opportunity
          schema:
            type: array
            items:
             $ref: '#/definitions/Liability'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a liability against an opportunity
      description: |
        Create a liability against the opportunity. Returns the uniqueId of the liability created
      operationId: Opportunity-liability-create
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          type: string
          description: API key for the broker group
          x-ms-summary: API key
        - name: id
          in: path
          description: Unique id of the opportunity
          x-ms-summary: Unique id of the opportunity
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Liability'
      tags:
        - Create liability against an opportunity
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/opportunities/{id}/liabilities/{liabilityId}:
    put:
      summary: Update a liability linked to an opportunity
      description: |
        Update a liability against the opportunity
      operationId: Opportunity-liability-update
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          type: string
          description: API key for the broker group
          x-ms-summary: API key
        - name: id
          in: path
          description: Unique id of the opportunity
          x-ms-summary: Unique id of the opportunity
          required: true
          type: string
        - name: liabilityId
          in: path
          description: Unique id of the liability
          x-ms-summary: Unique id of the liability
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Liability'
      tags:
        - Update a liability linked to an opportunity
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/opportunities/{id}/relatedParties:
    get:
      summary: Fetch related parties linked to an opportunity
      description: |
        Returns the parties related to the opportunity
      operationId: Opportunity-related-party-get
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          type: string
          description: API key for the broker group
          x-ms-summary: API key
        - name: id
          in: path
          description: Unique id of the opportunity
          x-ms-summary: Unique id of the opportunity
          required: true
          type: string
      tags:
        - Fetch related parties linked to an opportunity
      responses:
        200:
          description: |
           Array of parties related to the opportunity
          schema:
            type: array
            items:
             $ref: '#/definitions/RelatedParty'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a related party against an opportunity
      description: |
        Create a related party against the opportunity. Returns the uniqueId of the liability created
      operationId: Opportunity-related-party-create
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          description: API key for the broker group
          x-ms-summary: API key
          type: string
        - name: id
          in: path
          description: Unique id of the opportunity
          x-ms-summary: Unique id of the opportunity
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/RelatedParty'
      tags:
        - Create a related party against an opportunity
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/opportunities/{id}/relatedParties/{relatedPartyId}:
    put:
      summary: Update a related party linked to an opportunity
      description: |
        Update a related party against the opportunity
      operationId: Opportunity-related-party-update
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          description: API key for the broker group
          x-ms-summary: API key
          type: string
        - name: id
          in: path
          description: Unique id of the opportunity
          x-ms-summary: Unique id of the opportunity
          required: true
          type: string
        - name: relatedPartyId
          in: path
          description: Unique id of the related party
          x-ms-summary: Unique id of the related party
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/RelatedParty'
      tags:
        - Update a related party linked to an opportunity
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/contacts:
    get:
      summary: Search for contacts
      description: |
       Search for contacts based on various criteria. If no optional query params are passed, it will return the 25 most recently created records in descending order
      operationId: Contact-search
      parameters:
        - name: token
          in: path
          required: true
          description: User security token
          x-ms-summary: User security token
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: search
          in: query
          required: true
          description: Marker param to let the system know a search is being requested.  The param name can be passed by itself.
                     eg. both /contacts?search and /contacts?search=true will have the same effect
          type: string
          default: true
          x-ms-visibility: internal
        - name: searchParams
          in: query
          required: false
          description: Search params URL encoded JSON object.
          # Refer '#/definitions/ContactSearchParams' for allowed values
          type: string
          x-ms-visibility: advanced
        - name: sortKey
          in: query
          required: false
          description: The field to sort the results by. Allowed values are creationDate, lastModifiedDate. If not passed, will default to creationDate
          type: string
          x-ms-visibility: advanced
        - name: sortOrder
          in: query
          required: false
          description: Whether to sort ascending or descencding. Allowed values are asc and desc. Default is desc
          type: string
          x-ms-visibility: advanced
        - name: count
          in: query
          type: number
          description: Count of records to return. Default is 25. Max is 100
          required: false
          x-ms-visibility: advanced
        - name: offset
          in: query
          type: number
          description: Number of records to skip from the beginning. Default is 0
          required: false
          x-ms-visibility: advanced
      tags:
        - Search for contacts
      responses:
        200:
          description: Search Results object
          schema:
            $ref: '#/definitions/ContactSearchResult'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new contact
      description: |
       Creates a new contact and returns the uniqueId of the resource if the request is successful. If a uniqueId is provided in the request body, it will be ignored
      operationId: Contact-create
      x-ms-visibility: important
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          description: API key for the broker group
          x-ms-summary: API key
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Contact'
      tags:
        - Create a new contact
      responses:
        200:
          description: Success response
          schema:
            $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/contacts/{id}:
    get:
      summary: Fetch a contact by id
      description: |
       Returns information about the contact
      operationId: Contact-get
      x-ms-visibility: important
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: id
          in: path
          description: Unique id of the contact to get
          x-ms-summary: Unique id of the contact to get
          required: true
          type: string
      tags:
        - Fetch a contact by id
      responses:
        200:
          description: The contacts resource
          schema:
           $ref: '#/definitions/Contact'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update a contact
      description: |
        Update the contact
      operationId: Contact-update
      x-ms-visibility: important
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          required: true
          description: API key for the broker group
          x-ms-summary: API key
          type: string
        - name: id
          in: path
          description: Unique id of the contact to update
          x-ms-summary: Unique id of the contact to update
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Contact'
      tags:
        - Update a contact
      responses:
        200:
          description: The success response
          schema:
            $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/contacts/hooks:
    x-ms-notification-content:
      description: Details for Webhook
      schema:
        $ref: '#/definitions/Contact'
    post:
      description: Register a webhook for listening to contact events
      summary: When a contact is created updated or deleted
      operationId: Contact-trigger
      x-ms-trigger: single
      x-ms-visibility: important
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          type: string
          required: true
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: body
          in: body
          required: true
          description: Request body of webhook
          schema:
            $ref: '#/definitions/ContactHookRequestBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebhookCreationResponse'
        201:
          description: Created
          schema:
            $ref: '#/definitions/WebhookCreationResponse'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
      tags:
       - Register a webhook for listening to contact events
  /{token}/contacts/hooks/{hookId}:
    delete:
      description: Deletes a contact webhook
      summary: Deletes a contact webhook
      operationId: Delete-contact-trigger
      x-ms-visibility: internal
      parameters:
        - name: token
          in: path
          description: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: The API key
          required: true
          type: string
        - name: hookId
          in: path
          description: ID of the Hook being deleted
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
      tags:
       - Deletes a contact webhook
  /{token}/contacts/{id}/contactMethods:
    get:
      summary: Fetch contact methods linked to a contact
      description: |
       Returns contact methods of the contact
      operationId: Contact-method-get
      parameters:
       - name: token
         in: path
         description: User security token
         x-ms-summary: User security token
         required: true
         type: string
         x-ms-visibility: internal
       - name: x-api-key
         in: header
         description: API key for the broker group
         x-ms-summary: API key
         required: true
         type: string
       - name: id
         in: path
         description: Unique id of the contact
         x-ms-summary: Unique id of the contact
         required: true
         type: string
      tags:
       - Fetch contact methods linked to a contact
      responses:
        200:
          description: The contacts resource
          schema:
           type: array
           items:
            $ref: '#/definitions/ContactMethod'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a contact method against a contact
      description: |
        Create a contact method against a contact. Returns the uniqueId of the contact method created
      operationId: Contact-method-create
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: id
          in: path
          description: Unique id of the contact
          x-ms-summary: Unique id of the contact
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/ContactMethod'
      tags:
        - Contact method create
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/contacts/{id}/contactMethods/{contactMethodId}:
    put:
      summary: Update a contact method
      description: |
        Updates a contact method against the contact
      operationId: Contact-method-update
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: id
          in: path
          description: Unique id of the contact
          x-ms-summary: Unique id of the contact
          required: true
          type: string
        - name: contactMethodId
          in: path
          description: Unique id of the contact method
          x-ms-summary: Unique id of the contact method
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/ContactMethod'
      tags:
        - Update a contact method
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/contacts/{id}/expenses:
   get:
    summary: Fetch expenses linked to a contact
    description: |
     Returns all expenses of the contact
    operationId: Contact-expense-get
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
    tags:
      - Fetch expenses linked to a contact
    responses:
      200:
        description: The expenses resource
        schema:
         type: array
         items:
          $ref: '#/definitions/Expense'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
   post:
    summary: Create an expense against a contact
    description: |
     Create an expense against a contact. Returns the uniqueId of the expense created
    operationId: Contact-expense-create
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       required: true
       type: string
     - name: body
       in: body
       required: true
       schema:
        $ref: '#/definitions/Expense'
    tags:
      - Create an expense against a contact
    responses:
      200:
        description: Success response
        schema:
         type: array
         items:
          $ref: '#/definitions/Success'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
  /{token}/contacts/{id}/expenses/{expenseId}:
   put:
      summary: Updates an expense against a contact
      description: |
        Updates an expense against the contact
      operationId: Contact-expense-update
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: id
          in: path
          description: Unique id of the contact
          x-ms-summary: Unique id of the contact
          required: true
          type: string
        - name: expenseId
          in: path
          description: Unique id of the expense
          x-ms-summary: Unique id of the expense
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Expense'
      tags:
        - Updates an expense against a contact
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
         description: Bad request
         schema:
           $ref: '#/definitions/Error'
        401:
         description: Unauthorized
         schema:
           $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
           $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
           $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
           $ref: '#/definitions/Error'
  /{token}/contacts/{id}/incomes:
   get:
    summary: Fetch incomes linked to a contact
    description: |
     Returns all incomes of the contact
    operationId: Contact-income-get
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
    tags:
      - Fetch incomes linked to a contact
    responses:
      200:
        description: The incomes resource
        schema:
         type: array
         items:
          $ref: '#/definitions/Income'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
   post:
    summary: Create an income against a contact
    description: |
     Create an income against a contact. Returns the uniqueId of the income created
    operationId: Contact-income-create
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
     - name: body
       in: body
       required: true
       schema:
        $ref: '#/definitions/Income'
    tags:
      - Create an income against a contact
    responses:
      200:
        description: Success response
        schema:
         type: array
         items:
          $ref: '#/definitions/Success'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
  /{token}/contacts/{id}/identification:
   get:
    summary: Fetch identification records linked to a contact
    description: |
     Returns all identification records of the contact
    operationId: Contact-identification-get
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
    tags:
      - Fetch identification records linked to a contact
    responses:
      200:
        description: The addresses resource
        schema:
         type: array
         items:
          $ref: '#/definitions/Identification'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
   post:
    summary: Create an Identification record against a contact
    description: |
     Create an identification record against a contact. Returns the uniqueId of the identification record created
    operationId: Contact-dentification-create
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
     - name: body
       in: body
       required: true
       schema:
        $ref: '#/definitions/Identification'
    tags:
      - Create an Identification record against a contact
    responses:
      200:
        description: Success response
        schema:
         type: array
         items:
          $ref: '#/definitions/Success'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
  /{token}/contacts/{id}/identification/{identificationId}:
   put:
      summary: Update an Identification record linked to a contact
      description: |
        Update an identification record against the contact
      operationId: Contact-identification-update
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: id
          in: path
          description: Unique id of the contact
          x-ms-summary: Unique id of the contact
          required: true
          type: string
        - name: identificationId
          in: path
          description: Unique id of the identification
          x-ms-summary: Unique id of the identification
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Identification'
      tags:
        - Update an identification record linked to a contact
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
           $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/contacts/{id}/incomes/{incomeId}:
   put:
      summary: Update an income linked to a contact
      description: |
        Update an income against the contact
      operationId: Contact-income-update
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: id
          in: path
          description: Unique id of the contact
          x-ms-summary: Unique id of the contact
          required: true
          type: string
        - name: incomeId
          in: path
          description: Unique id of the income
          x-ms-summary: Unique id of the income
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Income'
      tags:
        - Update an income linked to a contact
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
           $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/contacts/{id}/addresses:
   get:
    summary: Fetch addresses linked to a contact
    description: |
     Returns all addresses of the contact
    operationId: Contact-address-get
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
    tags:
      - Fetch addresses linked to a contact
    responses:
      200:
        description: The addresses resource
        schema:
         type: array
         items:
          $ref: '#/definitions/Address'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
   post:
    summary: Create an address against a contact
    description: |
     Create an address against a contact. Returns the uniqueId of the address created
    operationId: Contact-address-create
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
     - name: body
       in: body
       required: true
       schema:
        $ref: '#/definitions/Address'
    tags:
      - Create an address against a contact
    responses:
      200:
        description: Success response
        schema:
         type: array
         items:
          $ref: '#/definitions/Success'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
  /{token}/contacts/{id}/addresses/{addressId}:
   put:
      summary: Update an address linked to a contact
      description: |
        Updates an address against the contact
      operationId: Contact-address-update
      parameters:
        - name: token
          in: path
          description: User security token
          x-ms-summary: User security token
          required: true
          type: string
          x-ms-visibility: internal
        - name: x-api-key
          in: header
          description: API key for the broker group
          x-ms-summary: API key
          required: true
          type: string
        - name: id
          in: path
          description: Unique id of the contact
          x-ms-summary: Unique id of the contact
          required: true
          type: string
        - name: addressId
          in: path
          description: Unique id of the address
          x-ms-summary: Unique id of the address
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
           $ref: '#/definitions/Address'
      tags:
        - Update an address linked to a contact
      responses:
        200:
          description: Success response
          schema:
            type: array
            items:
             $ref: '#/definitions/Success'
        400:
         description: Bad request
         schema:
           $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
           $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
           $ref: '#/definitions/Error'
  /{token}/contacts/{id}/employments:
   get:
    summary: Fetch employments linked to a contact
    description: |
     Returns all employments of the contact
    operationId: Contact-employment-get
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
    tags:
      - Fetch employments linked to a contact
    responses:
        200:
          description: The employment resource
          schema:
            type: array
            items:
              $ref: '#/definitions/Employment'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
   post:
    summary: Create an employment against a contact
    description: |
     Create an employment against a contact. Returns the uniqueId of the employment created
    operationId: Contact-employment-create
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       required: true
       type: string
     - name: body
       in: body
       required: true
       schema:
        $ref: '#/definitions/Employment'
    tags:
     - Create an employment against a contact
    responses:
        200:
          description: Success response
          schema:
            type: array
            items:
              $ref: '#/definitions/Success'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'
  /{token}/contacts/{id}/employments/{employmentId}:
   put:
    summary: Updates an employment against a contact
    description: |
     Updates an employment against the contact
    operationId: Contact-employment-update
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
     - name: employmentId
       in: path
       description: Unique id of the employment
       x-ms-summary: Unique id of the employment
       required: true
       type: string
     - name: body
       in: body
       required: true
       schema:
        $ref: '#/definitions/Employment'
    tags:
          - Updates an employment against a contact
    responses:
          200:
            description: Success response
            schema:
              type: array
              items:
                $ref: '#/definitions/Success'
          400:
            description: Bad request
            schema:
              $ref: '#/definitions/Error'
          401:
            description: Unauthorized
            schema:
              $ref: '#/definitions/Error'
          403:
            description: Forbidden
            schema:
              $ref: '#/definitions/Error'
          404:
            description: Not found
            schema:
              $ref: '#/definitions/Error'
          500:
            description: Internal server error
            schema:
              $ref: '#/definitions/Error'
  /{token}/contacts/{id}/opportunities:
   get:
    summary: Fetch opportunities related to a contact
    description: |
     Returns all opportunities for this contact
    operationId: Contact-opportunity-get
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: id
       in: path
       description: Unique id of the contact
       x-ms-summary: Unique id of the contact
       required: true
       type: string
    tags:
     - Fetch opportunities related to a contact
    responses:
      200:
        description: The opportunity resource
        schema:
         type: array
         items:
          $ref: '#/definitions/Opportunity'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
  /{token}/partner/config:
   get:
    summary: Search for partner configurations
    description: |
     Search for partner configurations based on various criteria. If no optional query params are passed, the search is restricted to return only the client portal color codes
    operationId: PartnerConfig-search
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: search
       in: query
       required: true
       description: Marker param to let the system know a search is being requested.  The param name can be passed by itself. eg. both /partner/config?search and /partner/config?search=true will have the same effect
       type: boolean
       default: true
       x-ms-visibility: internal
     - name: searchParams
       in: query
       required: false
       description: Search params URL encoded JSON object.
       # Refer '#/definitions/PartnerConfigSearchParams' for allowed values
       type: string
       x-ms-visibility: advanced
     - name: count
       in: query
       type: number
       description: Count of records to return. Default is 25. Max is 100
       required: false
       x-ms-visibility: advanced
     - name: offset
       in: query
       type: number
       description: Number of records to skip from the beginning. Default is 0
       required: false
       x-ms-visibility: advanced
    tags:
      - Search for partner configurations
    responses:
      200:
        description: Search Results object
        schema:
         type: array
         items:
          $ref: '#/definitions/PartnerConfigSearchResult'
      400:
        description: Bad request
        schema:
         $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
         $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
         $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
         $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
         $ref: '#/definitions/Error'
   post:
    summary: Create a new partner configuration
    description: |
     Creates a new partner configuration and returns its uniqueId if the request is successful.
     If a uniqueId is provided in the request body, it will be ignored
    operationId: PartnerConfig-create
    x-ms-visibility: important
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       required: true
       description: API key for the broker group
       x-ms-summary: API key
       type: string
     - name: body
       in: body
       required: true
       schema:
        $ref: '#/definitions/PartnerConfig'
    tags:
      - Create a new partner configuration
    responses:
      200:
        description: Success response
        schema:
         $ref: '#/definitions/Success'
      400:
        description: Bad request
        schema:
         $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
         $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
         $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
         $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
         $ref: '#/definitions/Error'
  /{token}/partner/config/{id}:
   put:
    summary: Update an partner configuration
    description: |
      Update the partner configuration entity
    operationId: PartnerConfig-update
    x-ms-visibility: important
    parameters:
      - name: token
        in: path
        description: User security token
        x-ms-summary: User security token
        required: true
        type: string
        x-ms-visibility: internal
      - name: x-api-key
        in: header
        required: true
        type: string
        description: API key for the broker group
        x-ms-summary: API key
      - name: id
        in: path
        description: partner id of the configuration to update to update
        x-ms-summary: partner id of the opportunity to update
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
         $ref: '#/definitions/PartnerConfig'
    tags:
      - Update an partner configuration
    responses:
      200:
        description: The success response
        schema:
          $ref: '#/definitions/Success'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
  /{token}/categories:
   get:
    summary: Search for categories
    description: |
     Search for categories
    operationId: Category-search
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       description: API key for the broker group
       x-ms-summary: API key
       required: true
       type: string
     - name: search
       in: query
       required: true
       description: Marker param to let the system know a search is being requested. The param name can be passed by itself. eg. both /category?search and /category?search=true will have the same effect
       type: boolean
       default: true
       x-ms-visibility: internal
     - name: searchParams
       in: query
       required: false
       description: Search params URL encoded JSON object.
       type: string
       x-ms-visibility: advanced
     - name: count
       in: query
       type: number
       description: Count of records to return. Default is 25. Max is 100
       required: false
       x-ms-visibility: advanced
     - name: offset
       in: query
       type: number
       description: Number of records to skip from the beginning. Default is 0
       required: false
       x-ms-visibility: advanced
    tags:
      - Search for categories
    responses:
      200:
        description: Search Results object
        schema:
         type: array
         items:
          $ref: '#/definitions/CategorySearchResult'
      400:
        description: Bad request
        schema:
         $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
         $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
         $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
         $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
         $ref: '#/definitions/Error'
   post:
    summary: Creates a new category
    description: |
     Creates a new category and returns its uniqueId if the request is successful.
     If a uniqueId is provided in the request body, it will be ignored
    operationId: Category-create
    x-ms-visibility: important
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: x-api-key
       in: header
       required: true
       description: API key for the broker group
       x-ms-summary: API key
       type: string
     - name: body
       in: body
       required: true
       schema:
        $ref: '#/definitions/Category'
    tags:
      - Creates a new category
    responses:
      200:
        description: Success response
        schema:
         $ref: '#/definitions/Success'
      400:
        description: Bad request
        schema:
         $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
         $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
         $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
         $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
         $ref: '#/definitions/Error'
  /{token}/categories/{id}:
   get:
    summary: Returns information about the category
    description: |
     Fetch a category by id
    operationId: Category-get
    parameters:
     - name: token
       in: path
       description: User security token
       x-ms-summary: User security token
       required: true
       type: string
       x-ms-visibility: internal
     - name: id
       in: path
       description: category id to update
       x-ms-summary: category id to update
       required: true
       type: string
     - name: searchParams
       in: query
       required: false
       description: Search params URL encoded JSON object.
       type: string
       x-ms-visibility: advanced
     - name: count
       in: query
       type: number
       description: Count of records to return. Default is 25. Max is 100
       required: false
       x-ms-visibility: advanced
     - name: offset
       in: query
       type: number
       description: Number of records to skip from the beginning. Default is 0
       required: false
       x-ms-visibility: advanced
    tags:
      - Fetch a category by id
    responses:
      200:
        description: The category
        schema:
         $ref: '#/definitions/Category'
      400:
        description: Bad request
        schema:
         $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
         $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
         $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
         $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
         $ref: '#/definitions/Error'
   put:
    summary: Update an category
    description: |
      Update an category
    operationId: Category-update
    x-ms-visibility: important
    parameters:
      - name: token
        in: path
        description: User security token
        x-ms-summary: User security token
        required: true
        type: string
        x-ms-visibility: internal
      - name: x-api-key
        in: header
        required: true
        type: string
        description: API key for the broker group
        x-ms-summary: API key
      - name: id
        in: path
        description: category id to update to update
        x-ms-summary: category id to update
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
         $ref: '#/definitions/Category'
    tags:
      - Update an category
    responses:
      200:
        description: The success response
        schema:
          $ref: '#/definitions/Success'
      400:
        description: Bad request
        schema:
          $ref: '#/definitions/Error'
      401:
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      403:
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      404:
        description: Not found
        schema:
          $ref: '#/definitions/Error'
      500:
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
definitions:
  PartnerConfig:
   type: object
   description: The details of the Partner configurations
   properties:
    uniqueId:
     type: string
     format: uuid
     description: Unique id of the partner configuration
     x-ms-summary: Partner config id
     maxLength: 44
    partnerId:
     type: string
     description: partner id
     x-ms-summary: partner id
     maxLength: 45
    key:
     type: string
     description: key of the configuration
     x-ms-summary: configuration key
     maxLength: 45
    value:
     type: string
     description: value
     x-ms-summary: value
     maxLength: 225
    primaryBg:
     type: string
     description: primary background colour
     x-ms-summary: primary background
     maxLength: 10
    secondaryBg:
     type: string
     description: secondary background colour
     x-ms-summary: secondary background
     maxLength: 10
    defaultBg:
     type: string
     description: default background colour
     x-ms-summary: default background
     maxLength: 10
    primaryFont:
     type: string
     description: primary foreground colour
     x-ms-summary: primary foreground
     maxLength: 10
    secondaryFont:
     type: string
     description: secondary foreground colour
     x-ms-summary: secondary foreground
     maxLength: 10
    defaultFont:
     type: string
     description: default foreground colour
     x-ms-summary: default foreground
     maxLength: 10
    vbInherit:
     type: integer
     format: int32
     description: is virtual branch
  Contact:
   type: object
   description: The details of the contact
   properties:
    uniqueId:
     type: string
     format: uuid
     description: Unique id of the contact
     x-ms-summary: Contact id
     maxLength: 44
    company:
     type: string
     description: Partner id to which this contact belongs
     x-ms-summary: Partner id
     maxLength: 36
    isDeleted:
     type: boolean
     description: Whether contact has been marked as deleted
     x-ms-summary: Deleted contact
    deletedBy:
     type: string
     description: User who deleted the contact
     x-ms-summary: Contact deleted by
     maxLength: 64
    deletedOn:
     type: string
     format: date-time
     description: Date contact was deleted
     x-ms-summary: Contact deletion date
    createdOn:
     type: string
     format: date-time
     description: Date contact was created
     x-ms-summary: Contact creation date
    createdBy:
     type: string
     description: User who created the contact
     x-ms-summary: Contact created by
     maxLength: 45
    firstName:
     type: string
     description: First name
     x-ms-summary: First name
     maxLength: 64
    lastName:
     type: string
     description: Last name
     x-ms-summary: Last name
     maxLength: 124
    middleName:
     type: string
     description: Middle name
     x-ms-summary: Middle name
     maxLength: 44
    salutation:
     type: string
     description: Salutation
     x-ms-summary: Salutation
     maxLength: 64
    title:
     type: string
     description: Title
     enum: [Dr, Miss, Ms, Mr, Mrs, Prof, Rev]
     x-ms-summary: Title
     maxLength: 24
    occupation:
     type: string
     description: Occupation
     x-ms-summary: Occupation
    employer:
     type: string
     description: Employer
     x-ms-summary:
     maxLength: 164
    jobTitle:
     type: string
     description: Job title
     x-ms-summary:
     maxLength: 64
    maritalStatus:
     type: string
     description: Marital satus
     enum: [Single, Married, DeFacto, Separated, Divorced, Widowed, Other]
     x-ms-summary: Marital satus
     maxLength: 34
    driversLicenceNumber:
     type: string
     description: Drivers licence number
     x-ms-summary: Drivers licence number
     maxLength: 64
    driversLicenceExpiry:
     type: string
     format: date
     description: Drivers licence expiry
     x-ms-summary: Drivers licence expiry
    driversLicenceState:
     type: string
     description: Drivers licence state
     enum: [ACT, NSW, NT, QLD, SA, TAS, VIC, WA, OTHER]
     x-ms-summary: Drivers licence state
     maxLength: 16
    gender:
     type: string
     description: Gender
     enum: [M, F]
     x-ms-summary: Gender
     maxLength: 8
    dateOfBirth:
     type: string
     format: date
     description: Date of birth
     x-ms-summary: Date of birth
    employmentStatus:
     type: string
     description: Employment status
     enum: [Full Time, Part Time, Contract, Temporary, Commission, Seasonal, Casual, Self-Employed, Unemployed]
     x-ms-summary: Employment status
     maxLength: 104
    employmentCommenced:
     type: string
     format: date
     description: Employment commenced date
     x-ms-summary: Employment commenced date
    phoneDisplayType1:
     type: string
     description: Phone display type 1
     enum: [Business, Business 2, Business Fax, Home, Home 2, Home Fax, Mobile, Mobile 2]
     x-ms-summary: Phone display type 1
     maxLength: 45
    phoneDisplayType2:
     type: string
     description: Phone display type 2
     enum: [Business, Business 2, Business Fax, Home, Home 2, Home Fax, Mobile, Mobile 2]
     x-ms-summary: Phone display type 2
     maxLength: 45
    phoneDisplayType3:
     type: string
     description: Phone display type 3
     enum: [Business, Business 2, Business Fax, Home, Home 2, Home Fax, Mobile, Mobile 2]
     x-ms-summary: Phone display type 3
     maxLength: 45
    phoneDisplayType4:
     type: string
     description: Phone display type 4
     enum: [Business, Business 2, Business Fax, Home, Home 2, Home Fax, Mobile, Mobile 2]
     x-ms-summary: Phone display type 4
     maxLength: 45
    addressDisplay:
     type: string
     description: Address display
     x-ms-summary: Address display
     maxLength: 45
    homePhone:
     type: string
     description: Home phone
     x-ms-summary: Home phone
     maxLength: 44
    businessPhone:
     type: string
     description: Business phone
     x-ms-summary: Business phone
     maxLength: 44
    mobile:
     type: string
     description: Mobile
     x-ms-summary: Mobile
     maxLength: 44
    email:
     type: string
     format: email
     description: Email
     x-ms-summary: Email
     maxLength: 65535
    personDataType:
     type: string
     description: Person data type
     x-ms-summary: Person data type
     maxLength: 7
    notes:
     type: string
     description: Notes
     x-ms-summary: Notes
     maxLength: 65535
    relationshipManager:
     type: string
     description: Relationship manager
     x-ms-summary: Relationship manager
     maxLength: 45
    annualSalary:
     type: number
     format: float
     description: Annual salary
     x-ms-summary: Annual salary
    contactType:
     type: string
     description: Contact type
     x-ms-summary: Contact type
     maxLength: 45
    abn:
     type: string
     description: ABN
     x-ms-summary: ABN
     maxLength: 45
    acn:
     type: string
     description: ACN
     x-ms-summary: ACN
     maxLength: 45
    trustName:
     type: string
     description: Trust name
     x-ms-summary: Trust name
     maxLength: 100
    homeSuburb:
     type: string
     description: Home suburb
     x-ms-summary: Home suburb
     maxLength: 104
    numberOfDependents:
     type: integer
     format: int32
     description: Number of dependents
     x-ms-summary: Number of dependents
    doNotMail:
     type: boolean
     description: Do not email
     x-ms-summary: Do not email
    funambolUsers:
     type: string
     description: Funambol users
     x-ms-summary: Funambol users
     maxLength: 200
    markAsPrivate:
     type: boolean
     description: Mark as private
     x-ms-summary: Mark as private
    importDocumentId:
     type: string
     description: Import document id
     x-ms-summary: Import document id
     maxLength: 45
    partnerName:
     type: string
     description: Partner group name
     x-ms-summary: Partner group name
     maxLength: 255
    emailBounced:
     type: boolean
     description: Email bounced
     x-ms-summary: Email bounced
    webPassword:
     type: string
     format: password
     description: Web password
     x-ms-summary: Web password
     maxLength: 64
    webAccess:
     type: boolean
     description: Web access
     x-ms-summary: Has web access?
    relationshipManagerName:
     type: string
     description: Relationship manager name
     x-ms-summary: Relationship manager name
     maxLength: 45
    lastUpdated:
     type: string
     format: date-time
     description: Last updated time
     x-ms-summary: Last updated time
    lastUpdatedBy:
     type: string
     description: User who made the last updated
     x-ms-summary: User who made the last updated
     maxLength: 45
    externalId:
     type: string
     description: External Id
     x-ms-summary: External Id
     maxLength: 45
    leadSourceId:
     type: string
     description: Lead source Id (applicable only for iConnect)
     x-ms-summary: Lead source Id (applicable only for iConnect)
     maxLength: 124
    leadSourceName:
     type: string
     description: Lead source name (applicable only for iConnect)
     x-ms-summary: Lead source name (applicable only for iConnect)
     maxLength: 255
    contactMethods:
     type: array
     items:
      $ref: '#/definitions/ContactMethod'
     description: Contact methods
     x-ms-summary: Contact methods
    Identification:
     type: array
     items:
      $ref: '#/definitions/Identification'
     description: Identification records
     x-ms-summary: Identification records
    expenses:
     type: array
     items:
      $ref: '#/definitions/Expense'
     description: Expense records
     x-ms-summary: Expenses
    incomes:
     type: array
     items:
      $ref: '#/definitions/Income'
     description: Income records
     x-ms-summary: Incomes
    addresses:
     type: array
     items:
      $ref: '#/definitions/Address'
     description: Address records
     x-ms-summary: Addresses
    categories:
     type: array
     items:
      $ref: '#/definitions/Category'
     description: Category records
     x-ms-summary: Categories
    myMarketingTactics:
     type: array
     items:
      $ref: '#/definitions/MyMarketingTactics'
     description: My Marketing tactic records
     x-ms-summary: My Marketing Tactics
  ContactMethod:
   type: object
   description: The contact method of the contact
   properties:
    uniqueId:
     type: string
     format: uuid
     description: Unique id of the contact method
     x-ms-summary: Contact method id
     maxLength: 40
    company:
     type: string
     description: Partner id to which this contact method belongs
     x-ms-summary: Partner id
     x-ms-visibility: internal
     maxLength: 36
    isDeleted:
     type: boolean
     description: Whether contact method has been marked as deleted
     x-ms-summary: Contact method deleted
     x-ms-visibility: internal
    personID:
     type: string
     format: uuid
     description: Unique id of the contact this contact method belongs to
     x-ms-summary: Contact method contact id
     x-ms-visibility: internal
     maxLength: 40
    contactMethod:
     type: string
     enum: [Business, Business 2, Business Fax, Email 1, Email 2, Email 3, Home, Home 2, Home Fax, Mobile, Mobile 2]
     description: Contact method
     x-ms-summary: Contact method
     maxLength: 20
    content:
     type: string
     description: Contact details
     x-ms-summary: Contact details
     maxLength: 100
    type:
     type: string
     enum: [email, home, mobile, phone]
     description: Type of contact
     x-ms-summary: Contact type (Contact method)
     maxLength: 45
  Identification:
   type: object
   description: The details of the Contacts related Identification record
   properties:
    uniqueId:
     type: string
     format: uuid
     description: Unique id of the Identification record
     x-ms-summary: Identification id
     maxLength: 44
    company:
     type: string
     description: Partner id to which this expense belongs
     x-ms-summary: Partner id
     x-ms-visibility: internal
     maxLength: 36
    createdBy:
     type: string
     description: User who created the Identification
     x-ms-summary: Identification created by
     maxLength: 45
    createdOn:
     type: string
     format: date-time
     description: Date of the Identification record that was created
     x-ms-summary: Creation date
     maxLength: 45
    documentIssuedBy:
     type: string
     description: Documet issue by
     x-ms-summary: Documet issued by
     maxLength: 45
    documentNumber:
     type: string
     description: Document Number to which this Identification record belongs
     x-ms-summary: Document Number
     maxLength: 45
    endDate:
     type: string
     format: date-time
     description: Expiry date of this Identification record
     x-ms-summary: Expiry Date
    isDeleted:
     type: boolean
     description: Whether document has been marked as deleted
     x-ms-summary: Document deleted
     x-ms-visibility: internal
    parentId:
     type: string
     format: uuid
     description: Unique id of the parent of the Contact record
     x-ms-summary: Parent id (Contact)
     x-ms-visibility: internal
     maxLength: 36
    nameOnDocument:
     type: string
     description: Name of the Document
     x-ms-summary: Document Name
     maxLength: 128
    personId:
     type: string
     format: uuid
     description: Unique id of the parent of the Contact record
     x-ms-summary: Parent id (Contact)
     x-ms-visibility: internal
     maxLength: 45
    placeOfIssue:
     type: string
     description: Place of issue of this Document
     x-ms-summary: Place of Issue
     enum: [ACT, NSW, NT, QLD, SA, TAS, VIC, WA, OTHER]
     maxLength: 45
    startDate:
     type: string
     format: date-time
     description: Start date of this Identification record
     x-ms-summary: Start Date
    versionSighted:
     type: string
     description: Version of Sighted (Original or Certified)
     x-ms-summary: Version of Sighted
     enum: [Original, Certified]
     maxLength: 45
    documentType:
     type: string
     description: Document Type of this Identification record
     x-ms-summary: Document Type
     enum: [DriversLicenceAust,
[...]
